<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add EJS Partials header-->
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <nav>
      <!-- Include the nav from partials-->
      <%- include('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h2>Check Out All The Glorious Wares</h2>
      <div class="products">
        <% products.forEach( function (product) { %>
        <div class="card">
          <h5><%= product.name %></h5>
          <a href="/products/<%=product.id%>">
            <img src="<%= product.img %>" alt="An image of <%= product.name %>"
          /></a>
          <h6>Price: $<%=product.price %></h6>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
